VITE_FIREBASE_API_KEY=replace_with_firebase_api_key
VITE_FIREBASE_AUTH_DOMAIN=replace_with_project.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=replace_with_project_id
VITE_FIREBASE_STORAGE_BUCKET=replace_with_project.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID=replace_with_sender_id
VITE_FIREBASE_APP_ID=replace_with_app_id
VITE_SHOP_WHATSAPP_NUMBER=919999999999
VITE_SHOP_UPI_ID=twigs@upi
